{% extends "base.html" %}
{% load static %}

{% block title %}Nos offres et services{% endblock %}

{% block content %}
	<div class="row featurette">
	  <div class="col-md-7">
	    <h2 class="featurette-heading">Offres et Services. <span class="text-muted">Les meilleures opportunités actuelles</span></h2>
	    <div class="list-group">
          {% for offer in offers %}
            <a href="#" class="list-group-item ">
		     <h4 class="list-group-item-heading">{{offer.Title}} ( Réf : 02280)</h4>
             <h5 class="list-group-item-heading">Price: {{offer.Price}} F CFA</h5>
             <h5 class="list-group-item-heading">Superficie: {{offer.Surface}} m² </h5>
		     <p class="list-group-item-text">{{offer.Description}} </p>
		    </a>
          {% endfor %}
		</div>
	  </div>
	  
	  <div class="col-md-5">
	    <img class="featurette-image img-responsive" src="{% static 'AGTEP_Pictures_500x500/transaction_500x500.jpg' %}" alt="Generic placeholder image">
	  </div>
	</div>
{% endblock %}

{% block js %}
	<script>
	      window.onload = function() {
	        activeTab("offre");
	      };
	</script>
{% endblock %}	